@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lexenddeca/v21/K2FifZFYk-dHSE0UPPuwQ7CrD94i-NCKm-U48M1wqxnFirZPl3v-.woff) format('woff');
}

@font-face {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/bigshouldersdisplay/v21/fC1MPZJEZG-e9gHhdI4-NBbfd2ys3SjJCx12wPgf9g-_3F0YdY87FFkwTjH92ZWI0g.woff) format('woff');
}

body h1 {
    font-family: Big Shoulders Display;
    padding: 1rem;
}

body p {
    padding: 1rem;
    font-family: Lexend Deca;
}

#mainBody {
    border-radius: 0.5rem;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    position: fixed;
    inset: 0px;
    margin: auto;
    overflow: hidden;
    height: min-content;
    border-radius: 1rem;
    justify-content: space-between;
}

.subBody {
    padding: 2rem;
}

.sb1 {
    background-color: hsl(31, 77%, 52%);
}

.sb2 {
    background-color: hsl(184, 100%, 22%);
}

.sb3 {
    background-color: hsl(179, 100%, 13%);
}

.learnMore {
    font-family: Lexend Deca;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution { 
    font-family: Lexend Deca;
    font-size: 11px; text-align: center;
    bottom: 0;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 8px;
    width: 12rem;
    margin-inline: auto;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

